// Your Apple Developer Team ID - https://stackoverflow.com/a/18727947
DEVELOPMENT_TEAM = ABC123

// Unique bundle id to be able to register and run locally
PRODUCT_BUNDLE_IDENTIFIER = chat.bitchat.$(DEVELOPMENT_TEAM)

// Push notification servers (silent wakeup)
NDS_URL = https://nds.sonar.hedwig.sh
TRANSPONDER_NPUB = npub1606vwj2ztjw8vc9n4ljqgk8phmmq24r8ckt7l42sy97tte0nscqqfdj406
